@font-face {
  font-family: "Tittle";
  src: url("../img/Starborn.ttf") format("truetype");
}
@font-face {
  font-family: "Number";
  src: url("../img/KOMIKAX_.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  text-align: center;
  padding-bottom: 6rem;
}
.content h1 {
  font-family: "Tittle";
  font-size: 4.5em;
  margin-bottom: 30px;
  color: #fff;
}
.content h1 span {
  font-family: "Number";
}
.content a {
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: 0.3s;
}
.content a:hover {
  background-color: #fff;
  color: #000;
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .content {
    font-size: 0.5em;
  }
  .content h1 {
    margin-bottom: 5rem;
  }
  .content a {
    font-size: 2em;
  }
}
/*------ mute_UnmuteStyles ------*/
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.muteUnmuted {
  --color: #fff;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--size);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  fill: var(--color);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.muteUnmuted p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  padding-right: 1rem;
}

.muteUnmuted .mute {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.muteUnmuted .voice {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
.muteUnmuted input:checked ~ .mute {
  display: none;
}

.muteUnmuted input:checked ~ .voice {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.muteUnmuted input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}
.muteUnmuted:hover {
  --color: #000;
}
.muteUnmuted:hover .circle {
  background-color: #fff;
}

.wrapper {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  font-family: "Poppins", sans-serif;
  list-style: none;
  bottom: 2rem;
  left: 2rem;
}

.wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}/*# sourceMappingURL=landinpage.css.map */